* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 50%;
    max-width: 1000px;
}

.title {
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
}

.square-container {
    width: 516px;
    height: 516px;
    border: 2px solid black;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
}