body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.grid-container {
    background-color: white;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow:  5px 5px 5px gray;
}

.grid-element {
    width: 20px;
    height: 20px;
    display: flex;
}

.grid-element-background {
    background-color: black;
}

#clear {
    border: 1px solid black;
    margin: 50px;
    padding: 5px 15px;
    color: black;
    font-weight: bolder;
    background-color: white;
    border-radius: 5px;
    box-shadow:  2px 2px 5px gray;
    transition: transform .2s;

}

#clear:hover {
    transform: scale(1.1);
    border: 1px solid black;
    margin: 50px;
    padding: 5px 15px;
    color: black;
    font-weight: bolder;
    background-color: white;
    border-radius: 5px;
    box-shadow:  2px 2px 5px gray;
}

#clear:active {
    border: 1px solid black;
    transform: scale(1);
    margin: 50px;
    padding: 5px 15px;
    color: black;
    font-weight: bolder;
    background-color: white;
    border-radius: 5px;
    box-shadow:  2px 2px 5px gray;
}


footer {
    padding: 1em;
    color: black;
}

