* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin: 0 auto;
}

.container {
    margin: 0 auto;
    width: 50%;
    max-width: 1000px;
}

.title {
    text-align: center;
    padding: 1rem;
    font-size: 56px;
}

button,
input {
  width: 100%;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.grid {
    display: grid;
    width: 500px;
    height: 500px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    flex-shrink: 0;
}

.color-picker {
    background-color: black;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.btn {
    width: 250px;
    padding: 1rem 2rem;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 900px) {
    .main {
        flex-direction: column-reverse;
    }
}