* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin: 0 auto;
    max-width: 100vw;
    max-height: 100vh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

.header {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}

.main {
    background-color: thistle;
    display: flex;
    justify-content: center;
}

.footer {
    background-color: tomato;
    margin-top: 100%;
    text-align: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
}